body{
    background: url("../designImages/background.png") no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #5B4C8C !important;
}

.main-text{
    color: white;
    margin-top: 300px;
}

.navbar-brand {
    margin-top: 20px;
}


.form-area{
    margin-top: 100px;
}

.submit-btn{
    background-color: black !important;
    color: white !important;
    padding: 15px 40px;
    font-size: 20px;

}

.button-area{
    margin-top: 100px;
}

/** 
    Responsive Design
**/
@media only screen and (max-width: 600px) {
    .form-area{
        margin-top: 10px;
    }

    .button-area{
        margin-top: 0px;
    }

    .main-text{
        margin-top: 200px;
    }

    .main-text h1{
        font-size: 20px;
    }

    .submit-btn{
        background-color: black;
        color: white;
        font-size: 16px;
    }
   
    .button-area{
        margin-top: 20px;
    }

    .form-control{
        margin-top: 10px;
    }
    
  }
