{% extends "base.html" %}
{% block content %}
{% block head %}
<title>Tweets We Found</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/stylesheets/displayTweets.css') }}">
{% endblock %}
{% for item in data['tweets'] %}
<form action="{{ url_for('tweetProfile') }}" method="POST">
    <input type="hidden" name="id" value={{item.id}}>
        <ul>
            <li>{{item['name']}}</li>
            <li>{{item['username']}}</li>
            <li>{{item['datestamp']}}</li>
            <li>{{item['likes_count']}}</li>
            <li>{{item['tweet']}}</li>
            <li>{{data['numOfTweets']}}</li>
            <img src="{{url_for('static', filename='/images/' + item.username + '.jpg')}}">
        </ul>
        <input type="submit">
</form>
{% endfor %}
{% endblock %}