{% extends "base.html" %}
{% block content %}
{% block head %}
<title>Tweets We Found</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/stylesheets/displayTweets.css') }}">
<script
src="https://kit.fontawesome.com/d2be2cf8f7.js"
crossorigin="anonymous"
></script>
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous"
/>
{% endblock %}
<body class="tweets-bg">
    <nav class="navbar justify-content-center">
      <a class="navbar-brand" href="#">
        <img src="../static/designImages/logo.png" />
      </a>
    </nav>
    <div class="container">
      <div class="row main-text justify-content-center" style="color: white;">
        <h1>@{{data['tweets'][0].username}} has {{data['numOfTweets']}} tweets about {{data["companyNom"]}} before {{data['tweets'][0].datestamp}}</h1>
        <img  class="small-rocket" src ="../static/designImages/rocket.png">
      </div>

      <div class="row justify-content-center">
        <div class = "col">
{% for item in data['tweets'] %}
<!-- <form action="{{ url_for('tweetProfile') }}" method="POST">
    <input type="hidden" name="id" value={{item.id}}>
        <ul>
            <li>{{item['name']}}</li>
            <li>{{item['username']}}</li>
            <li>{{item['datestamp']}}</li>
            <li>{{item['likes_count']}}</li>
            <li>{{item['tweet']}}</li>
            <li>{{data['numOfTweets']}}</li>
            <img src="{{url_for('static', filename='/images/' + item.username + '.jpg')}}">
        </ul>
        <input type="submit">
</form> -->

<!-- STOP -->
<form action="{{ url_for('tweetProfile') }}" method="POST">
    <input type="hidden" name="id" value={{item.id}}>
    <div class="card shadow-lg card-area tweet-card">
        <div class="card-body">
          <img class="twitter-img" src="{{url_for('static', filename='/images/' + item.username + '.jpg')}}">
          <div class="name-section">
            <h5 class="card-title">{{item['name']}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">@elonmusk</h6>
          </div>
          <div class="card-bottom">
            <p class="card-text">
              {{item['tweet']}}
            </p>
          </div>
          <hr />
          <div class="info">
            <p class="card-text date">
              <i class="fas fa-calendar" style="margin-right:5px"></i>{{item['datestamp']}}
            </p>
            <p class="card-text likes">
              <i class="fas fa-heart"></i><b> {{item['likes_count']}} </b>Likes
            </p>

            <div class="analyze-area">
              <button type="submit" class="btn analyze-btn">Analyze</button>
            </div>
          </div>
        </div>
      </div>
</form>

{% endfor %}

</div>
</div>
</div>

<!-- BOOTSTRAP JQUERY -->
<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"
></script>

<script src="https://use.fontawesome.com/1da57db8ac.js"></script>
{% endblock %}