{% extends "base.html" %}
{% block head %}
<title>Tweet Profile</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/stylesheets/tweetProfile.css') }}">
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous"
/>

<script
src="https://kit.fontawesome.com/d2be2cf8f7.js"
crossorigin="anonymous"
></script>

{% endblock %}
{% block content %}
<body class="tweets-bg">
    <nav class="navbar justify-content-center">
      <a class="navbar-brand" href="#">
        <img src="../static/designImages/logo.png" />
      </a>
    </nav>
    <div class="container">
      <div
        style="margin-top: 100px"
        class="row main-text justify-content-center">
    
            <h1 style="color: white;">@{{data['username']}} has {{data['tweet_count']}} tweets about {{data['company']}} before {{data['dayOne']}}</h1>
            <img class="small-rocket" src="../static/designImages/rocket.png" />

      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-4">
          <div class="card shadow-lg card-area tweet-card">
            <div class="card-body">
              <img class="twitter-img" src="../static/images/{{data['username']}}.jpg" />
              <div class="name-section">
                <h5 class="card-title">{{data['name']}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">@{{data['username']}}</h6>
              </div>

              <div class="card-bottom">
                <p class="card-text">
                    {{data['tweet']}}
                </p>
              </div>

              <hr />
              <div class="info">
                <p class="card-text date">
                  <i class="fas fa-calendar"></i> {{data["datestamp"]}}
                </p>
                <p class="card-text likes">
                  <i class="fas fa-heart"></i><b> {{data['likes']}} </b>Likes
                </p>

               
              </div>
            </div>
          </div>
        </div>

          <div class="col-lg-8 col-sm-4">
            <div class="card shadow-lg card-area chart-card">
              <div class="card-body">
                <img src="{{url_for('static', filename='/stock_charts/' + data['dayOne'] + '_' + data['company'] + '_stock_chart.png')}}">
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-sm-4 credibility-score">
          <h3>Therefore, @{{data['username']}} has a credibility score of {{data['credibilityScore']}}, which is {{data['word']}}</h3>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="search-area">
            <form action="http://localhost:5000/">
                <button type="submit" class="btn search-btn">Search Again</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP JQUERY -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://use.fontawesome.com/1da57db8ac.js"></script>
  </body>
{% endblock %}